* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; 
        }

@font-face {
    font-family: 'Gulax-Regular';
    src: url('Fonts/Gulax-Regular.eot'),
    url('Fonts/Gulax-Regular.woff2'),
    url('Fonts/Gulax-Regular.woff'); }

html {
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 100%;
  color: #222;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%; }



body {
  margin: 0;
  font-size: 1.2rem;
   }

main {
  /* autoprefixer: off */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1.4rem;
  margin: 1.4rem; }


h1 {
  /* autoprefixer: off */
  font-family: 'Gulax-Regular';
  font-size: 2rem;
  line-height: 1.1; 
  }

img {
  width: 65%;
  -o-object-fit: cover;
     object-fit: cover;
  align-items: center;
      }

img:nth-of-type(1) {
  /* autoprefixer: off */
  grid-row: 1 / span 2;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: 10%;
  align-items: center;
  justify-self: center
 }


section {
  
  text-align: justify; 
  
  }

section:nth-of-type(1) {
  /* autoprefixer: off */
  grid-row: 1 / span 1;
  grid-column-start: 3;
  grid-column-end: 5;
  margin-top: 10%;
  margin-right: 10%;
  font-size: 120%;
  
}

section:nth-of-type(2) {
  /* autoprefixer: off */
  grid-row: 2 / span 2; 
  grid-column-start: 3;
  grid-column-end: 4;
  margin-right: 20%;
  text-align: center; }

section:nth-of-type(3) {
  /* autoprefixer: off */
  grid-row: 2 / span 2; 
  grid-column-start: 4;
  grid-column-end: 4;
  margin-right: 20%;
  text-align: center;}

  a{
  color: #FF6600;
  border: 2px solid #FF6600;
  text-decoration: none;
  padding: 2px 5px;
}

#b {
  color: #0000ff;
  text-decoration: none;
  border: none;
  b:link {
    color: #0000ff;
  }
  /* lien visité */
  b:visited {
    color: #0000ff;
  }
  /* souris sur le lien */
  b:hover {
    color: #FF6600;
  }
  /* lien sélécté */
  b:active {
    color: #0000ff;
  }
}


footer {
  grid-row: 4 / span 1;
  grid-column-start: 4;
  grid-column-end: 5;
  align-items: center;
  justify-self: center;
  margin-right: 20%;
  margin-top: 5%;
}

 a:link {
        color: #FF6600;
      }
      /* lien visité */
      a:visited {
        color: #FF6600;
      }
      /* souris sur le lien */
      a:hover {
        color: #FF6600;
      }
      /* lien sélécté */
      a:active {
        color: #FF6600;
      }

.unicode{
  color: #0000ff;
}

.unicode3{
  display: none;
}

.unicode2{
  display: contents;
  color: #0000ff;
}

.unicode5{
  display: none;
}

.unicode4{
  display: contents;
  color: #0000ff;
}

@media screen and (max-width: 1350px) {
/* Insérez vos propriétés CSS ici, avec vos sélecteurs*/


a{
  color: ff6600ff;
  border: 1px solid #FF6600;
  text-decoration: none;
  padding: 2px 5px;
  font-size: 70%;
}

#b {
  font-size: 100%;
}

}

@media screen and (max-width: 1061px) {
/* Insérez vos propriétés CSS ici, avec vos sélecteurs*/


a{
  color: ff6600ff;
  border: 1px solid #FF6600;
  text-decoration: none;
  padding: 2px 5px;
  font-size: 70%;
}

#b {
  font-size: 100%;
}

img {
  width: 75%;
  -o-object-fit: cover;
     object-fit: cover;
      }

  img:nth-of-type(1) {
  /* autoprefixer: off */
  grid-row: 1 ;
  grid-column-start: 2;
  grid-column-end: 4;
  margin-top: 10%;

 }
h1 {
  /* autoprefixer: off */
  font-family: 'Gulax-Regular';
  font-size: 2rem;
  line-height: 1.1; 
  text-align: center; 
  grid-column-start: 1;
  grid-column-end: 5;
  margin-right: 20%;
  margin-left: 20%;
  
}
section:nth-of-type(1) {
  /* autoprefixer: off */
  grid-row: 2 ;
  grid-column-start: 1;
  grid-column-end: 5;
  margin-top: 10%;
  margin-right: 20%;
  margin-left: 20%;
  text-align: center; 
  
}
  section:nth-of-type(2) {
  /* autoprefixer: off */
  grid-row: 3 ; 
  grid-column-start: 1;
  grid-column-end: 5;
  font-size: 95%;
  text-align: center; 
   margin-right: 30%;
  margin-left: 30%;
  }

section:nth-of-type(3) {
  /* autoprefixer: off */
  grid-row: 4 ; 
  grid-column-start: 1;
  grid-column-end: 5;
  font-size: 95%;
  text-align: center; 
   margin-right: 30%;
  margin-left: 30%;
  }

a{
  color: ff6600ff;
  border: 1px solid #FF6600;
  text-decoration: none;
  padding: 2px 5px;
  font-size: 70%;
}

#b {
  font-size: 100%;
}

footer {
  grid-row: 5 / span 1;
  grid-column-start: 1;
  grid-column-end: 5;
  align-items: center;
  justify-self: center;
  text-align: center;
  margin-right: 30%;
  margin-left: 30%;
  margin-top: 5%;
}
.unicode{

  color: #0000ff;
}

.unicode3{
  display: none;
}

.unicode2{
  display: contents;
  color: #0000ff;
}

.unicode5{
  display: none;
}

.unicode4{
  display: contents;
  color: #0000ff;
}

}

@media screen and (max-width: 768px) {
/* Insérez vos propriétés CSS ici, avec vos sélecteurs*/

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
      }

  img:nth-of-type(1) {
  /* autoprefixer: off */
  grid-row: 1 ;
  grid-column-start: 2;
  grid-column-end: 4;
  margin-top: 10%;

 }
h1 {
  /* autoprefixer: off */
  font-family: 'Gulax-Regular';
  font-size: 2rem;
  line-height: 1.1; 
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: center;
  
}
section:nth-of-type(1) {
  /* autoprefixer: off */
  grid-row: 2 ;
  grid-column-start: 1;
  grid-column-end: 5;
  margin-top: 10%;
  margin-right: 20%;
  margin-left: 20%;
  text-align: center; 
  
}
  section:nth-of-type(2) {
  /* autoprefixer: off */
  grid-row: 3 ; 
  grid-column-start: 1;
  grid-column-end: 5;
  font-size: 90%;
  text-align: center; 
   margin-right: 20%;
  margin-left: 20%;
  }

section:nth-of-type(3) {
  /* autoprefixer: off */
  grid-row: 4 ; 
  grid-column-start: 1;
  grid-column-end: 5;
  font-size: 90%;
  text-align: center; 
   margin-right: 20%;
  margin-left: 20%;
  }

a{
  color: ff6600ff;
  border: 1px solid #FF6600;
  text-decoration: none;
  padding: 2px 5px;
  font-size: 70%;
}

footer{
  text-align: center;
}

#b {
  font-size: 100%;
}

.unicode{

  color: #0000ff;
}

.unicode3{
  display: none;
}

.unicode2{
  display: contents;
  color: #0000ff;
}

.unicode5{
  display: none;
}

.unicode4{
  display: contents;
  color: #0000ff;
}

}

@media screen and (max-width: 600px) {
/* Insérez vos propriétés CSS ici, avec vos sélecteurs*/

@font-face {
  font-family: 'Gulax-Regular';
  src: url('Fonts/Gulax-Regular.eot'),
  url('Fonts/Gulax-Regular.woff2'),
  url('Fonts/Gulax-Regular.woff'); }

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
      }

  img:nth-of-type(1) {
  /* autoprefixer: off */
  grid-row: 1 ;
  grid-column-start: 2;
  grid-column-end: 4;
  margin-top: 10%;
 }

section:nth-of-type(1) {
  /* autoprefixer: off */
  grid-row: 2 ;
  grid-column-start: 1;
  grid-column-end: 5;
   font-size: 100%;
  
}

h1 {
  /* autoprefixer: off */
  font-family: 'Gulax-Regular';
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  font-size: 120%;
  
}

  section:nth-of-type(2) {
  /* autoprefixer: off */
  grid-row: 3 ; 
  grid-column-start: 1;
  grid-column-end: 5;
  font-size: 80%;
   text-align: center; 
   margin-right: 20%;
  margin-left: 20%;
  }

section:nth-of-type(3) {
  /* autoprefixer: off */
  grid-row: 4 ; 
  grid-column-start: 1;
  grid-column-end: 5;
  font-size: 80%;
   text-align: center; 
   margin-right: 20%;
  margin-left: 20%;
  }

a{
  color: ff6600ff;
  border: 1px solid #FF6600;
  text-decoration: none;
  padding: 2px 5px;
  font-size: 70%;
}

footer{
  text-align: center;
}

#b {
  font-size: 100%;
}

.unicode{

  color: #0000ff;
  size: 110%;
}

.unicode2{
  display: none;
}

.unicode3{
  display: contents;
  color: #0000ff;
  size: 110%;
}

.unicode4{
  display: none;
}

.unicode5{
  display: contents;
  color: #0000ff;
  size: 110%;
}
}

/*# sourceMappingURL=01-021.css.map */